@font-face {
  font-family: 'space grotesk';
  src: url(assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf);
}

* {
	box-sizing: border-box;
	transition: margin, width 0.5s ease;
}

html, body {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'space grotesk', sans-serif;
	font-weight: 100;
	line-height: 1.6;
	font-size: 1.3rem;
	color: #f7f3e6;
	background: black url(assets/noise1.png);
	background-repeat: repeat;
	background-size: 56rem;
}

::selection {
	color: #866bc1;
	text-shadow: 1px 1px rgba(132, 124, 117, 0.77);
}


#new {
	animation: rss 3s linear infinite;
}

.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 7%;
}
.webport {
	text-align: center;
	margin: 100px;
}
.webport h1 {
	margin: -12px 0px -12px 0px;
}
.webport p {
	font-size: small;
}
sub a {
	font-size: 11px;
	color: white;
	text-shadow: 3px -2px rgba(255, 255, 255, 0.77);
}
.navbottom { 
	border-top: 1px solid #464646;
	padding: 10px;


}
.navtop {
	justify-content: space-around;
}
ul {
	display: flex;
  	justify-content: space-between;
  	list-style-type: none;
  	padding: 0;
}

/*  swiper */

.posts {
	margin-top: 350px;
  	width: 42%;
}
.swiper-slide {
	font-size: 1rem;
}
.swiper-wrapper {
	  transform: translate(0, 0);
}
.swiper {
	height: 90%;
	width: 100%;
}

.swipe-L, .swipe-R {
	color: #f77676;
	top: 40%;

}
.swipe-L {
	left: 85%;
}

/* post meta */
.title {
	margin: 3px 0px 0px 0px;;
}
.meta {
	color: #dbdbdb;
	font-style: italic;	
}

.swiper-button-prev:hover, .swiper-button-next:hover {
	color: wheat;
}




.rss {
	animation: rss 1s linear infinite;
}
.rss:hover {
	animation: none;
}

@media (max-width: 1420px) {
	.wrapper 
	{
		flex-direction: column;	
		gap: 1%;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 30%;	
		height: 120%;
	}
	.webport {
		margin: 0;
    		padding: 32px;
	}
	.webport img {
		padding-bottom: 5%;
		max-width: 100%;
	}

	.webport h1 {
		font-size: 30px;
	}
	.posts {
		width: 100%;
		margin: 0;
		padding: 0% 5% 0% 5%;
	}
	.swiper-slide { 
		font-size: 15px;
	}
	.swipe-R, .swipe-L {
		display: none;
	}
	ul {
		justify-content: space-around;
		gap: 1vw;
	}
}

a, .swipe-L, .swipe-R {
	text-decoration: none;
	color: #866bc1;
	transition: all 0.2s ease;
}
a:hover, .swipe-L:hover, .swipe-R:hover {
	color: white;
	text-shadow: 3px -2px rgba(255, 255, 255, 0.77);
	transition: text-shadow 0.1s ease, color 0.05s ease;
}
sub a:hover {
	color: #ff0823;
	text-shadow: 3px -2px #ff0823;
}

@keyframes rss {
	50% {
		color: #fff;
	}
}

