@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	scroll-behavior: smooth;

}

body {
	margin: 0;
	background-color: #101012;
	font-family: 'Space Grotesk', sans-serif;
	overflow: hidden; 
	line-height: 1.6;
	color: white;
  	text-shadow: 1px 1px rgba(132, 124, 117, 0.77);
}


::selection {
	color: #866bc1;
	text-shadow: 1px 1px rgba(132, 124, 117, 0.77);
}

nav {
	display: flex;
	justify-content: space-evenly;
	padding: 2% 5% 0% 5%;
	position: fixed;
	width: 100%;
}
nav, .posts {
	font-size: calc(12px + 0.390625vw);
}

.top {
	height: 100vh;
	background-image:url(assets/tower.png), url(assets/grass.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}
.center {
	width: 70%;
	transition: all 2s ease;
	animation: split 2s ease;
	margin: 13% 1% 1% 4%; 
	position: absolute;
}




.middle {
	height: 100vh;
	background-image:url(assets/towerb.png), url("assets/light.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: bottom;
	display: flex; 
	justify-content: flex-end;
}
.faq {
	margin: 6% 5% 5% 5%;
	color: white;
	overflow-y: scroll;
	width: 64%;
	height: 70%;
}



.bottom {
	height: 100vh;
	background-image:url(assets/roots.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-y: top;
	background-color: whitesmoke;
	display: flex; 
	justify-content: flex-start;
	align-items: center;
	text-shadow: none;
}

.posts {
	margin: 0 5% 0 0;
  	width: 70%;
	padding: 5%;
	height: 64%;
  	overflow-y: scroll;
}
.posts article {
	border-bottom: 2px solid grey;
	padding-bottom: 30px;
	color: #000;
}
.posts #tags {
	color: #777;
}

aside header {
	color: black;
	border-bottom: 2px double grey;
}

aside {
	padding: 5%;
  	margin-top: -28%;
	font-size: 1vh;
	width: 25%;
		
}

a {
	text-decoration: none;
	color: #866bc1;
	transition: text-shadow 0.2s ease;

}
a:hover {
	color: white;
	text-shadow: 3px -2px rgba(253, 198, 150, 0.77);
	transition: text-shadow 0.1s ease, color 0.050s ease;
}
nav a {
	color: #c19a6b
}

.disappear {
	animation: 3s fadein reverse forwards ease;
}



@keyframes split {
	from { left: -70%; }
	to { left: 0; } 
}
@keyframes fadein {
	from { opacity: 0% }
	to { opacity: 100% }
}
