* {
	box-sizing: border-box;
}

html, body {
	height: 100%;

}

body {
	margin: 0;
	background-color: #202020;
}

.cntr {
	height: 90%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.field {
	width: 100%;
	height: 100%;
	position:absolute;
	background: url(whimiscles.gif) repeat;
	pointer-events: none;
}

.garden:hover {
	cursor:pointer;
}

.gone {
	display: none;
}
