@font-face {
  font-family: 'Space Grotesk';
  src: url(../assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf);
}

* {
	transition: all 0.4s ease;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background: url(../assets/noise2.png) black;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: bold;
	color: white;
}

.front, .navi {
	animation: fade 1s ease;
}
.front {
	margin-top: 3%;
}
.mailport, .box, .front {
	text-align: center;
	max-height: 1000px;
}

.navi {
	padding: 20px 0px 0px 0px;
	text-align: center;
}
.navi li {
	padding: 4px;
	display: inline;
}
.front img {
	max-width: 100%;
	}
.items {
  	margin: 0 auto;
}

.items {
	width: 70%;	
}

.block {
	max-height: 800px;
	overflow: hidden;
}
#privblock img {
	height: 100%;
}
#friendblock img {
	height: 30rem;
	z-index: -1;
	max-width: 100%;
}


.toggled {
	max-height: 0px;
	overflow: hidden;
	opacity: 0;
	transform: scale(0.9);
}

.fltr {
	display: flex;
}
h2 {
	margin: 0;
}
ul {
	list-style-type: none;
	padding: 0;
	text-align: left;
}
a {
	color: white;
	text-decoration: none;
}
#lm {
	color: #ff3c3c;
	text-decoration: line-through;
}
a:hover, #lm:hover {
	color: #ff0823; 
	text-decoration: none;
}
.scr:hover {
	cursor: context-menu;
}
::selection {
  color: #ff3c3c;
  text-shadow: 1px 1px rgb(57, 57, 57);
  }
  @media(max-width: 800px) {
	  .block, body {
		overflow-x: hidden;
		overflow-y: visible;
	  }
 
  }
@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
