@font-face {
  font-family: 'Space Grotesk';
  src: url(../assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf);
}

* {
	transition: all 0.3s ease;
	box-sizing: border-box;
}

body {
	background: url(../assets/noise2.png) black;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: bold;
}

.webport {
	text-align: center;
	max-height: 5000px
}


.webport img {
	max-width: 100%;
	}
.box {
	color: white;
   	width: 75%;
  	margin: 0 auto;
	margin-top: 5%;

}
.keyblock, .friendblock, .privblock {
	max-height: 900px;
	overflow: scroll;
}
.toggled {
	max-height: 0px;
	overflow: hidden;
	opacity: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	text-align: left;
}
a {
	color: white;
	text-decoration: none;
}
#lm {
	color: #ff3c3c;
	text-decoration: line-through;
}
a:hover, #lm:hover {
	color: #ff0823; 
	text-decoration: none;

}
.scr, .scr:hover {
	cursor: default;
	text-decoration: none;
	color: white;
}
::selection {
  color: #ff3c3c;
  text-shadow: 1px 1px rgb(57, 57, 57);
  }
