@font-face {
  font-family: 'Space Grotesk';
  src: url(../assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf);
}

* {
	transition: all 0.3s ease;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background: url(../assets/noise2.png) black;
	font-family: 'Space Grotesk', sans-serif;
	font-weight: bold;
	color: white;
	overflow-y: scroll;
}



.mailport, .box, .front {
	text-align: center;
	max-height: 1000px;
}

.navi {
	max-width: 512px;
	margin: 0 auto;
	padding: 20px 0px 0px 0px;
	text-align: center;
}
.navi li {
	padding: 4px;
	display: inline;
}
.front img {
	max-width: 100%;
	}
.items {
  	margin: 0 auto;
}

.items {
	width: 75%;	
}

.block {
	max-height: 800px;
	overflow-x: hidden;
  	overflow-y: visible;
}
#friendblock img {
	height: 30rem;
	z-index: -1;
}

.toggled {
	max-height: 0px;
	overflow: hidden;
	opacity: 0;
}

.fltr {
	display: flex;
}
h2 {
	margin: 0;
}
ul {
	list-style-type: none;
	padding: 0;
	text-align: left;
}
a {
	color: white;
	text-decoration: none;
}
#lm {
	color: #ff3c3c;
	text-decoration: line-through;
}
a:hover, #lm:hover {
	color: #ff0823; 
	text-decoration: none;
}
.scr:hover {
	cursor: cell;
}
::selection {
  color: #ff3c3c;
  text-shadow: 1px 1px rgb(57, 57, 57);
  }
