@font-face {
  font-family: 'Space Grotesk';
  src: url(../assets/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'space grotesk', sans-serif;
	padding: 40px;
  	line-height: 1.6;
	background: url(../assets/noise3.png) #000;
	color: #fff;
	font-size: 2rem;
}
hr {
	color: white;
}
h1 {
	display: inline;
}
ul {
	list-style-type: none;
}


::selection {
	color: #5000ff;
	text-shadow: 1px 1px rgba(132, 124, 117, 0.77);
}

a {
	color: #fff;
	text-decoration: none;
	transition: text-shadow 0.2s ease;
	animation: attn 0.5s linear infinite;
}

a:hover {
	color: #5000ff;
	text-shadow: 1px 1px rgba(132, 124, 117, 0.77);
	transition: text-shadow 0.1s ease, color 0.050s ease;
}
@keyframes attn {
	50% {
		color: #5000ff;
	}
}
