@font-face {
  font-family: 'Space Grotesk';
  src: url(../assets/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'space grotesk', sans-serif;
	padding: 40px;
  	line-height: 1.6;
	background: url(../assets/textured-paper.png) #fff;
	width: 90%;
	margin: 0 auto;
	font-size: 2rem;
}

h1 {
	display: inline;
}
ul {
	list-style-type: none;
}


::selection {
	color: #5000ff;
	text-shadow: 1px 1px rgba(132, 124, 117, 0.77);
}

a {
	color: #5000ff;
	text-decoration: none;
	transition: text-shadow 0.2s ease;

}

a:hover {
	color: #5000ff;
	text-shadow: 1px 1px rgba(132, 124, 117, 0.77);
	transition: text-shadow 0.1s ease, color 0.050s ease;
}
