@font-face {
  font-family: 'space grotesk';
  src: url(../assets/fonts/space-grotesk/SpaceGrotesk-Light.ttf);
}

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	font-size: calc(15px + 0.390625vw);

}

body {
	margin: 0;
	background-color: black;
	font-family: 'space grotesk', sans-serif;
	overflow: hidden;
	color: white;
	background: black url("../assets/noise2.png");
	
}

header {
	font-size: 1.3rem;
	text-shadow: 1px 1px rgba(132, 124, 117, 0.77);

}

.posts {
	overflow-y: scroll;
  	overflow-x: hidden;
  	height: 80%;
	padding: 2%;
}
.postinfo a {
	color: grey;
}

.postwrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	opacity: 80%;
	background: rgba(11, 11, 11, 0.79);
	transition: all 0.2s ease;
	font-size: 12px;
	animation: fadein 2s ease;
	margin-top: 5px;
}

.postwrap:hover {
	transition: all 0.2s ease;
	background: rgba(15, 15, 15, 0.79);	
	opacity: 100%;
	transform: scale(1.01);
}


.archive {
	text-align: center;
	margin: 0 auto;
	width: 55%;
	height: 100%;
		
}





.butt {
	width: 30%;
  	opacity: 35%;
  	transition: 0.2s ease;
}
.butt:hover {
	opacity: 100%;	
	transition: 0.2s ease;
	transform: scale(1.01);
}
.util {
	display: flex;
  	justify-content: space-evenly;
}



a {
	color: white;
  	text-shadow: 1px 1px rgba(132, 124, 117, 0.77);
	text-decoration: none;
	transition: text-shadow 0.2s ease;

}


a:hover {
	color: white;
	text-shadow: 3px -2px rgba(255, 255, 255, 0.77);
	transition: text-shadow 0.1s ease, color 0.050s ease;
}
::selection {
	color: #ff3c3c;
	text-shadow: 1px 1px rgb(57, 57, 57); 
}

@keyframes fadein {
	from { opacity: 0%; transform:scale(1.1);
 }
	to {opacity: 80%; transform:scale(1)}
}

@media (max-width: 1500px) {
	.butt { opacity: 100%; font-size: 18px; width: 49%; padding: 1%;}
	.archive { width: auto; }

}
@media(hover:hover){*{scrollbar-color:#ffe8bc #1c1c1cb2}}
